
<div class="paginas">
   


    <div  class="row justify-content-md-center">
        <div class="col-md-10 ">
    
            <div class="card card-body ">
                <h2 class="box-title m-b-0 text-center">Historial de logs</h2>
                <br>
    
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Accion</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">id_usuario</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Origen</th>
                        </tr>

                    </thead>
                    <tbody>
                          <tr *ngFor="let log of logs; let i = index">
                          <th scope="row">{{ i +1 }}</th>
                          <td>{{log.fecha_hora | date:'medium'}}</td>
                          <td>{{log.tipo}}</td>    
                          <td>{{log.descripcion}}</td>    
                          <td>{{log.id_usuario_realizo}}</td> 
                          <td>{{log.nombre_usuario}}</td>
                          <td>{{log.nivel_accion}}</td>
                          <td>{{log.origen}}</td>
                             
           
                      </tr>
    
                    </tbody>
                </table>
    
  
    
            </div>
        </div>
    
    </div>




</div>
