<div class="paginas">
   
   <div class="border-bottom border-top">
    <h3 style="color: chartreuse;" >Menus en Oferta</h3> 
   </div>
        <div class="card-columns">
        <div *ngFor="let producto of ofertas"  class="card text-white bg-dark mb-3">
            <figure>
                <img class="card-img-top" src="{{url}}{{ producto.fotografia }}" alt="">
            </figure>
        <div class="card-body">
            <h4 style="color:seashell;" class="card-title">{{ producto.nombre_restaurante }}</h4>
            <h5 style="color:skyblue;" class="card-title">{{ producto.producto_nombre }}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <h5  style="color:red;   text-decoration: line-through;">Precio: Q{{producto.precio}}</h5>
            <h4  style="color:greenyellow;">Precio Oferta!!: Q{{producto.oferta}}</h4>
            
        </div>
        <div class="card-footer text-center float-right">

            <a type="button" (click)='singleproduct(producto)' class="btn btn-outline-primary">
                <em class="fas fa-leaf"></em>
                Ver
            </a>

            <a *ngIf="!isAdmin" type="button" (click)='defaultCantidad(producto)' class="btn btn-outline-success" data-toggle="modal" href='#modal2'>
                <em class="fas fa-money-bill"></em>
                Comprar
            </a>
        </div>
        </div>

   </div>
   
    <div *ngFor="let res of menu" class="border-bottom border-top">
        <h3> {{ res.restaurante.nombre }}-Menu </h3>
   
    <div class="card-columns">
        
        
        <div *ngFor="let producto of res.productos"  class="card text-white bg-dark mb-3">
            <figure>
                <img class="card-img-top" src="{{url}}{{ producto.fotografia }}" alt="">
            </figure>
          <div class="card-body">
            <h5 style="color:skyblue;" class="card-title">{{ producto.producto_nombre }}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <h5 style="color:greenyellow;">Precio: Q{{producto.precio}}</h5>
          </div>
          <div class="card-footer text-center float-right">

            <a type="button" (click)='singleproduct(producto)' class="btn btn-outline-primary">
                <em class="fas fa-leaf"></em>
                Ver
            </a>

            <a *ngIf="!isAdmin" type="button" (click)='defaultCantidad(producto)' class="btn btn-outline-success" data-toggle="modal" href='#modal2'>
                <em class="fas fa-money-bill"></em>
                Comprar
            </a>
          </div>
        </div>

    </div>






</div>

<!-- Modal -->
<div class="modal fade" id='modal2' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <span></span>
        <div class="modal-content border">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: black;">{{MenuName}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form ngNativeValidate [formGroup]="formaCantidad" (ngSubmit)="cantidad()">

                <div class="modal-body mx-3">
                    <div class="md-form mb-5 form-group">
                        <h4 style="color: black;">Cantidad<em class="mdi mdi-pencil-circle"></em></h4>
                        <input (click)='vistaCantidad()' id='Cantidad' formControlName="Cantidad" name="Cantidad" type="number" class="form-control" placeholder="Cantidad" required>
                        <h4 style="color:red;" *ngIf="!formaValida">Valor invalido</h4>
                        <h4 id='Monto' style="color:green;" *ngIf="formaValida">Monto Total Q{{ MenuValue * formaCantidad.value.Cantidad }}</h4>

                    </div>
                </div>


                <div class="modal-footer d-flex justify-content-center">
                    <button 
                    (click)='pagar()'
                    type="btn" class="btn btn-outline-success">
                        <em class="fas fa-money-bill"></em>
                        Pagar
                    </button>
                    <button 
                    (click)="agregarCarrito()"
                    type="button" class="btn btn-outline-primary">
                        <em class="fas fa-shopping-cart"></em>
                        Agregar a la cesta
                    </button>
                </div>


            </form>


        </div>
    </div>
</div>
</div>