<div  class="paginas">
  <div *ngIf="isUser" class="card-columns">
      
  <div *ngFor="let orden of ordenes; let i=index;" class="card text-white bg-dark mb-2">
        <div class="card-body">
          <h5 class="card-title">Orden #{{orden.id_orden}}</h5>
          <p class="card-text">{{orden.fecha_hora | date:'medium'}}</p>
          <p class="card-text">{{orden.direccion||'Recoger en Tienda'}}</p>
          <h5>Estado:{{orden.descripcion}}</h5>
        
          <div id='detalle{{i}}' class="collapse">
              <p>Menu</p>
              <li *ngFor="let detail of detalle;">{{detail.nombre}}  -  Q{{detail.precio}}</li>
              <p>Total Q{{total}}</p>
          </div>
  
      </div>

      
        <div class="card-footer text-center float-right">
          <a type="button" (click)="detail(orden)" class="btn btn-info" data-toggle="collapse" href='#detalle{{i}}'>
              Ver detalle
          </a>
          <b *ngIf="orden.descripcion=='En Preparacion'" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
          <a *ngIf="orden.descripcion=='En Preparacion'" 
          
            type="button" (click)="cancel(orden)" class="btn btn-danger" data-toggle="collapse">
            Cancelar orden
          </a>
        </div>





  </div>
      

      




  </div>

  <div *ngIf="isRestaurant" class="card-columns">
      
      <div *ngFor="let orden of ordersRestaurant; let i=index;" class="card text-white bg-dark mb-2">
            <div class="card-body">
              <h5 class="card-title">Orden #{{orden.id_orden}}</h5>
              <p class="card-text">{{orden.fecha_hora | date:'medium'}}</p>
              <p class="card-text">nombre:{{orden.nombre}}</p>
              <p class="card-text">telefono:{{orden.telefono}}</p>
              <p class="card-text">{{orden.direccion||'Recoger en Tienda'}}</p>
              
              <h5>Estado:{{orden.descripcion}}</h5>

              <div>
                  <h5>Cambiar estado</h5>
                  <select (change)='cambio(i,orden)' id ='estado{{i}}' name='estado' class="form-control" required>
                      <option>Nueva Orden</option>
                      <option>En Preparacion</option>
                      <option>En Camino</option>
                      <option>Entregado</option>
                      <option>Cancelada</option>
                      <option>Pagada</option>
                  </select> 
              </div>

            
              <div id='detalle{{i}}' class="collapse">
                  <p>Menu</p>
                  <li *ngFor="let detail of detalle;">{{detail.nombre}}  -  Q{{detail.precio}}</li>
                  <p>Total Q{{total}}</p>
              </div>


            </div>

            
  
          
            <div class="card-footer text-center float-right">
              <a type="button" (click)="detail(orden)" class="btn btn-info" data-toggle="collapse" href='#detalle{{i}}'>
                  Ver detalle
              </a>
            </div>
  
  
  
  
  
      </div>
          
  
          
  
  
  
  
      </div>
    
</div>