<div class="paginas">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="card card-body ">
                <h2 class="box-title m-b-0 text-center">Restaurante</h2>
                <br>
                <form ngNativeValidate [formGroup]="RestaurantForm" (ngSubmit)="createRestaurant()">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
    
                            <div class="form-group">
                                <label>Nombre</label>
                                <input formControlName="name" name="name" type="text" class="form-control" placeholder="Nombre del restaurante" required>
                            </div>
                            <div class="form-group">
                                <label>Direccion</label>
                                <input formControlName="address" name="address" type="text" class="form-control" placeholder="Direccion del restaurante" required>
                            </div>

                            <div class="form-group">
                                <label>Telefono</label>
                                <input formControlName="phoneNumber" name="phoneNumber" type="number" min="8" class="form-control" placeholder="Ingrese su telefono" required>
                            </div>


    
                            <button type="submit" class="btn btn-success btn-lg"> <i class="fa fa-save"></i> Crear</button>
    
    
    
                        </div>
    
                        <div class="col-sm-6 col-xs-6">
    
                            <div class="form-group">
                                <label>Correo</label>
                                <input formControlName="email" name="email" type="email" class="form-control" placeholder="Ingrese su correo" required>
                            </div>
                            <div class="form-group">
                                <label>Contaseña</label>
                                <input id="password" formControlName="password" name="password" type="password" class="form-control" placeholder="Ingrese la Contraseña" required>
                            </div>
                            <div class="form-group">
                                <label>Repetir Contraseña</label>
                                <input id="password2" formControlName="password2" name="password2" type="password" class="form-control" placeholder="Confirmar Contraseña" required>
                            </div>
    
                            <div class="form-row" *ngIf="!iguales">
                                <h4 class="text-danger">Las contraseñas deben ser iguales</h4>
                            </div>    
    
                        </div>
    
                    </div>
                </form>
    
    
            </div>
        </div>
    </div>
</div>
