<div class="sidebar">
    
    <h5 id="username" name="username" ><em class="fas fa-user"></em> {{username}}</h5>
    <ul>
        <li>
            <a routerLink="/dashboard"><em class="fas fa-home"></em> Home</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/logs"> <em class="fas fa-history"></em> Logs</a>
        </li>
        <li *ngIf='!userAnonymous'><a routerLink="/history"><em class="fas fa-history"></em> Historial</a> </li>
        <li *ngIf='!isAdmin'><a routerLink="/order"><em class="fas fa-history"></em> Orden Actual</a> </li>
        <li *ngIf='!userAnonymous && isAdmin' ><a routerLink="/product"><em class="fas fa-leaf"></em> Producto</a> </li>
        <li *ngIf='isAdmin'><a routerLink="/restaurant"><em class="fas fa-store-alt"></em> Restaurante</a> </li>
        <li *ngIf='!isAdmin'><a routerLink="/cart"><em class="fas fa-money-bill"></em> Pagar</a> </li>
    </ul>
</div>