<div class="paginas">


    <div class="row">
        <div class="col-md-5">
            <img [src]= 'url' alt=""
            class="img-thumbnail">
        </div>
        <div class="col-md-5">
            <h2>{{producto.nombre}}</h2>
            <div class="row mt-5">
                <h3 style ="color:powderblue"> 
                {{producto.descripcion}}
                </h3>

            </div>
            <div class="row">
                <h3 style="color:mediumspringgreen;">Precio: Q{{producto.precio}}</h3>
            </div>
        

            <div class="row  mt-5">
                <div class="col">
   
                    <button (click)="agregarCarrito()"
                    type="button" class="btn btn-primary">
                        <em class="fas fa-shopping-cart"></em>
                        Agregar a la cesta
                    </button>

                                     
                    <button (click)="regresar()"
                    type="btn" class="btn btn-success">
                        <em class="fas fa-backward"></em>
                        Regresar
                    </button>
                </div>




                
            </div>
            
        </div>

        
    </div>


</div>

