<header>
    <nav class="fixed-top">

        <img src="../../../assets/img/food.png" alt="">
        <a>Food Delivery</a>

        <ul>
            <li><a *ngIf='!isAdmin' routerLink="/cart"><em class="fas fa-shopping-cart"></em></a> </li>
            <li *ngIf="hidelogin" >
                <a data-toggle="modal" href='#modal' (click)="ClearLogin();" >Login </a>
            </li>
            <li *ngIf="hidelogin">
                <a data-toggle="modal" href='#signup_modal'>Register </a>
            </li>
            <li *ngIf="!hidelogin">
                <a (click)='Logout()' routerLink='/dashboard'>Salir</a>
            </li>
        </ul>

    </nav>


<!-- Modal -->
<div class="modal fade" id='modal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <span></span>
        <div class="modal-content border">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: black;"> Login </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form ngNativeValidate [formGroup]='loginForm' (ngSubmit)='Login()' >

                <div class="modal-body mx-3">
                    <div class="md-form mb-5 form-group">
                        <h4 style="color: black;">Email</h4>
                        <input class="input-lg" formControlName='userName' name='userName'  id="userName"  placeholder="user" required>
                        <h4 style="color: black;">Password</h4>
                        <input class="input-lg" formControlName='password' name='password'  id="password" type="password"  placeholder="password" required>
                        <!--<h4 style="color: red;">{{mensaje}}</h4>-->
                        <div id="msg">
                            {{mensaje}}
                        </div>
                        
                    
                    </div>
                    
                </div>


                <div class="modal-footer d-flex justify-content-center">
                    <button id='btningresar' type="submit" class="btn btn-outline-primary">
                        <em class="fa fa-user"></em>
                        Ingresar
                    </button>
                    <button  type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        <em class="fa fa-ban"></em>
                        Cancelar
                    </button>
                </div>


            </form>


        </div>
    </div>
</div>

<!-- SignUp modal -->
<div class="modal fade" id='signup_modal' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <span></span>
        <div class="modal-content border">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold" style="color: black;"> SignUp </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form ngNativeValidate [formGroup]='signupForm' (ngSubmit)='SignUp()' >

                <div class="modal-body mx-3">
                    <div class="md-form mb-3 form-group">

                        <h4 style="color: black;">Email</h4>
                        <input class="input-lg" formControlName='email' name='email'  id="email"  placeholder="email" required>
                        <h4 style="color: black;">Password</h4>
                        <input class="input-lg" formControlName='password' name='password'  id="password" type="password"  placeholder="password" required>
                        <h4 style="color: black;">Name</h4>
                        <input class="input-lg" formControlName='name' name='name'  id="name"  placeholder="name" required>
                        <h4 style="color: black;">Phone Number</h4>
                        <input class="input-lg" formControlName='phone' name='phone'  id="phone"  placeholder="phone" required>
                        <h4 style="color: black;">Address</h4>
                        <input class="input-lg" formControlName='address' name='address'  id="address"  placeholder="address" required>
                        <h4 style="color: red;">{{mensaje}}</h4>
                    
                    </div>
                </div>


                <div class="modal-footer d-flex justify-content-center">
                    <button id='btnRegistrar' type="submit" class="btn btn-outline-primary">
                        <em class="fa fa-user"></em>
                        Registrarse
                    </button>
                    <button  type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        <em class="fa fa-ban"></em>
                        Cancelar
                    </button>
                </div>


            </form>


        </div>
    </div>
</div>




 
</header>

<app-sidebar [username]=username [isAdmin]=isAdmin [userAnonymous]=userAnonymous></app-sidebar>





