nav {
    width: 100%;
    height: 80px;
    background-color: #042331;
    line-height: 80px;
}

nav a {
    color: white;
    margin-left: 0px;
    font-size: 30px;
}

nav img {
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

nav ul li a:hover {
    cursor:pointer;
   }

   .text {

  border-radius: 100px;
  background-size: 25px 50px;

}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  
  50% { background:rgb(120, 120, 120);}
 
}

@-webkit-keyframes parpadeo {  
 
  50% {background:rgb(120, 120, 120); }
   
}

@keyframes parpadeo {  
 
   50% {background:rgb(120, 120, 120); }
  
}