<div class="paginas">

    <div class="row justify-content-md-center">
        <div class="col-md-10 ">
    
            <div class="card card-body ">
                <h2 class="box-title m-b-0 text-center">Pago de Orden</h2>
                <br>


                <table class="table table-striped">
                    <caption><strong>Total Q{{Total}}</strong></caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let item of detalle; let i = index' > 
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.nombre}}</td>
                            <td>Q{{item.valor}}</td>
                            <td>{{item.cantidad}} </td>
                            <td>Q{{item.cantidad * item.valor}}</td>
                            <td>
                                <a (click)="DeleteMenu(item,i)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br>



    <div>
        <form ngNativeValidate [formGroup] = 'formOrden' (ngSubmit) = 'Orden()'>
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="card card-body ">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">

                                <div class="form-group">
                                    <label>Tipo de Entrega</label>
                                    
                                    <select (change)="cambio()" formControlName="entrega" name="entrega" class="form-control" required>
                                        <option>Domicilio</option>
                                        <option>Recoger</option> 
                                    </select>
                                </div>

                                <div  class="form-group" *ngIf="direccion"> 
                                    <label >Direccion</label>
                                    <input formControlName="direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">
                                </div>
            

                                <div>
                                    <label>Total a Pagar: <span style="color:green"><strong>Q{{Total}}</strong></span></label>
                                </div>


                                <div>
                                    <button type="submit" class="btn btn-success btn-lg ">
                                        <em class="fas fa-money-bill"></em> Pedir Orden
                                    </button>
                                    
                                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                    <button (click)='cancelar()' class="btn btn-danger btn-lg ">
                                        <em class="fas fa-trash"></em> Cancelar Orden
                                    </button>
                                </div>
>


                            </div>
           

                        </div>

                    </div>
                </div>

 
            </div>

        </form>
    </div>


</div>