<div class="paginas">



    <div *ngIf="!edit" class="row justify-content-md-center">
        <div class="col-md-10 ">
    
            <div class="card card-body ">
                <h2 class="box-title m-b-0 text-center">Productos</h2>
                <br>
    
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Restaurante</th>  
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <th scope="row">{{ i +1 }}</th>
                            <td>{{product.producto_nombre}}</td>
                            <td>{{product.precio}}</td>    
                            <td>{{product.nombre_restaurante}}</td> 
                            <td>
                                <button (click)="EditProduct(product)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                <button (click)="DeleteProduct(product,i)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
    
                    </tbody>
                </table>
    
                <button type="button" class="btn btn-primary" (click)="NewProduct()"> Nuevo </button>
    
            </div>
        </div>
    
    </div>
    
    
    
    
    
    <div *ngIf="newproduct || editproduct">
    
        <form ngNativeValidate [formGroup]='CreateProductForm' >
    
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-10 ">
    
                    <div class="card card-body ">
                        
                        <h2 *ngIf="newproduct" class="box-title m-b-0 text-center">Producto Nuevo</h2>
                        <h2 *ngIf="editproduct" class="box-title m-b-0 text-center">Editar Producto</h2>
                        
                        <br>
    
                        <div class="row">
    
                            <div class="col-sm-6 col-xs-6">

                                <div class="form-group">
                                    <h5>Nombre</h5>
                                    <input formControlName="name" name="name" type="text" class="form-control" placeholder="Nombre del Producto">
                                </div>
    
                                <div class="form-group">
                                    <h5>Precio</h5>
                                    <input formControlName="price" name="price" type="number" class="form-control" placeholder="Precio del Producto">
                                </div>
    
                                <h5>Descripcion</h5><br>
                                <textarea formControlName="description" name="description" cols="63" rows="5" placeholder="Descripcion" required></textarea>
                                
                  
    
    
                                <div *ngIf='!editproduct' class="form-group">
                                    <h3>Foto</h3>
                                    <h4>Adjuntar foto del producto</h4>
                                    <input (change)="seleccionimagen($event)" formControlName='file' name='file' type="file" class="form-control-file">
                                </div>
    
                                <button *ngIf="newproduct" class="btn btn-outline-success btn-lg" (click)='CreateProduct()'> <i class="fa fa-save"></i> Crear</button>
                                <button *ngIf="editproduct" class="btn btn-outline-success btn-lg" (click)='UpdateProduct()'> <i class="fa fa-save"></i> Actualizar</button>
                                
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                <button (click)="newproduct=false;edit=false;editproduct=false; productid=0; auxpath=''" type="button" class="btn btn-outline-danger btn-lg"> <i class="fa fa-times-circle"></i> Cancelar</button>
    
                            </div>



                            <div class="col-sm-6 col-xs-6">

                                <div class="form-group">
                                    <h5>Restaurante</h5>
                                    <select id ='restaurant' formControlName='restaurant' name='restaurant' class="form-control" required>
                                        <option></option>
                                        <option *ngFor="let restaurant of restaurants; let i = index">{{restaurant.id_usuario}}-{{restaurant.nombre}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="editproduct">
                                    <h5>Oferta</h5>
                                    <input formControlName="oferta" name="oferta" type="number" class="form-control" placeholder="Precio Oferta">
                                </div>

                                <div >
                                    <img class="imagen-producto" src='{{auxpath || rutaimagen}}' alt="foto del producto">
                                </div>

                            </div>
    
                        </div>
                    </div>
    
                </div>
            </div>
    
        </form>
    </div>
    





</div>