/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom, rgba(140, 122, 122, 1) 0%, rgba(175, 135, 124, 1) 65%, rgba(175, 135, 124, 1) 100%) fixed;
    background-size: cover;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
}

.paginas {
    margin-top: 100px;
    margin-left: 280px;
}

.imagen-producto{
    height: 200px;
    width: 200px;
}