<div class="paginas">

 

  <div *ngIf="isAdmin" class="row justify-content-md-center">
      <div class="col-md-10 ">
  
          <div class="card card-body ">
              <h2 class="box-title m-b-0 text-center">Historial de Ordenes General Usac 2021</h2>
              <br>
  
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col"># Orden</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Fecha</th>    
                          <th scope="col">Direccion</th>  
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let orden of allorders; let i = index">
                          <th scope="row">{{ i +1 }}</th>
                          <td>Orden #{{orden.id_orden}}</td>
                          <td>{{orden.descripcion}}</td>    
                          <td>{{orden.fecha_hora | date:'medium'}}</td>    
                          <td>{{orden.direccion}}</td>  
                          <td>
                              <a data-toggle="modal" href='#modal-history' (click)="detail(orden);" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                              <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                              <a (click)="DeleteOrder(orden,i)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                          </td>
                      </tr>
  
                  </tbody>
              </table>
  

  
          </div>
      </div>
  
  </div>
  
  <div *ngIf="!isUser && !isAdmin" class="row justify-content-md-center">
    <div class="col-md-10 ">

        <div class="card card-body ">
            <h2 class="box-title m-b-0 text-center">Historial de Ordenes Restaurante</h2>
            <br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"># Orden</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>  
                        <th scope="col">Nombre</th>  
                        <th scope="col">Direccion</th>  
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordersRestaurant; let i = index">
                        <th scope="row">{{ i +1 }}</th>
                        <td>Orden #{{orden.id_orden}}</td>
                        <td>{{orden.descripcion}}</td>    
                        <td>{{orden.fecha_hora | date:'medium'}}</td>
                        <td>{{orden.nombre}}</td>    
                        <td>{{orden.direccion}}</td>  
                        <td>
                            <a data-toggle="modal" href='#modal-history' (click)="detail(orden);" class="btn btn-primary"><i class="fa fa-eye"></i></a>

                        </td>
                    </tr>

                </tbody>
            </table>



        </div>
    </div>

</div>


<div *ngIf="isUser" class="row justify-content-md-center">
    <div class="col-md-10 ">

        <div class="card card-body ">
            <h2 class="box-title m-b-0 text-center">Historial de Ordenes Usuario</h2>
            <br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"># Orden</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>   
                        <th scope="col">Direccion</th>  
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes; let i = index">
                        <th scope="row">{{ i +1 }}</th>
                        <td>Orden #{{orden.id_orden}}</td>
                        <td>{{orden.descripcion}}</td>    
                        <td>{{orden.fecha_hora | date:'medium'}}</td>    
                        <td>{{orden.direccion}}</td>  
                        <td>
                            <a data-toggle="modal" href='#modal-history' (click)="detail(orden);" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>



        </div>
    </div>

</div>







  <div class="modal fade" id='modal-history' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <span></span>
          <div class="modal-content border">
              <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold" style="color: black;"> Detalle de Orden  #{{id_order}}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
              </div>
              <form >
  
                  <div class="modal-body mx-3">
                      <div class="md-form mb-5 form-group">
                          <h4 style="color: black;">Detalle de la orden #{{id_order}}</h4>
                          <li style="color: black;" *ngFor="let det of detalle"> menu:{{det.nombre}} - Q{{det.precio}}</li>
                          <h4 style="color: green;">Total: Q{{total}}</h4>
                      </div>
                      
                  </div>
  
                  <div class="modal-footer d-flex justify-content-center">

                      <a id='btningresar' type="submit" class="btn btn-outline-primary btn-lg" data-dismiss="modal">
                          OK
                      </a>
                  
                  </div>
  
  
              </form>
  
  
          </div>
      </div>
  </div>
  
  



    
</div>